html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@import 'base.scss';
@import 'macros.scss';
@import 'main.scss';
@import 'typography.scss';
@import 'nav.scss';
@import 'layout.scss';

div[atomic-box] {
    border: 1px solid #000;
    border-radius: 3px;
    padding: 2px 4px;
    margin: 0;
    position: relative;
    display: flex;
    width: 140px;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: #656363;
}

div[atomic-box] > span[atomic-name] {
    font-size: 60px;
}
div[atomic-box] > span[atomic-number] {
    position: absolute;
    left: 8px;
    top: 2px;
    font-size: 24px;
}