/* ========================================================================= */
/* LAYOUT */
/* ========================================================================= */
[macro='layout'] {
    display: grid;
    column-gap: 8px;
    row-gap: 8px;
    margin-bottom: 1px;
}
[macro='layout'][columns='2'] {
    grid-template-columns: repeat(2, 1fr);
}
[macro='layout'][columns='3'] {
    grid-template-columns: repeat(3, 1fr);
}
[macro='layout'][columns='4'] {
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 900px) {
    [macro='layout'][columns='2'] ,
    [macro='layout'][columns='3'] ,
    [macro='layout'][columns='4'] {
        grid-template-columns: 1fr;
    }
}

[macro='layout'] > img {
    align-self: flex-start;
}
[macro='layout'] > img[center] {
    align-self: center;
    margin: 0 auto;
}

[macro='layout'][boxed] > [boxed-child] {
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 0 0px 1px #eeeeee;
    display: grid;
    align-items: center;
    grid-row-gap: 4px;
    padding: 8px;
}


/* ========================================================================= */
/* NOTE */
/* ========================================================================= */

[macro='note'] {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
[macro='note'][boxed] {
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 0 0px 1px #eeeeee;
    padding: 12px;
}
[macro='note'][inline] {
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 0 0px 1px #eeeeee;
    padding: 12px;
    display: inline-block;
    padding: 4px;
    margin: 8px;
}

[macro='note'][inline] > ul {
    padding-left: 24px;
    padding-right: 8px;
}

[macro='note'] > h1:first-child,
[macro='note'] > h2:first-child,
[macro='note'] > h3:first-child,
[macro='note'] > h4:first-child,
[macro='note'] > h5:first-child,
[macro='note'] > h6:first-child {
    border-bottom: none;
    text-align: center;
    color: #4e4e4e;
    padding: 4px;
}

[macro='note']:not([boxed]) > h1:first-child,
[macro='note']:not([boxed]) > h2:first-child,
[macro='note']:not([boxed]) > h3:first-child,
[macro='note']:not([boxed]) > h4:first-child,
[macro='note']:not([boxed]) > h5:first-child,
[macro='note']:not([boxed]) > h6:first-child {
    border: 1px solid #e2e2e2;
    margin-bottom: 4px;
    border-radius: 3px;
}

[macro='note']:not([boxed]) > h1:not(:first-child),
[macro='note']:not([boxed]) > h2:not(:first-child),
[macro='note']:not([boxed]) > h3:not(:first-child),
[macro='note']:not([boxed]) > h4:not(:first-child),
[macro='note']:not([boxed]) > h5:not(:first-child),
[macro='note']:not([boxed]) > h6:not(:first-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
}



[macro='note'] h2,
[macro='note'] h3,
[macro='note'] h4,
[macro='note'] h5,
[macro='note'] h6 {
    margin: 0 auto;
}

[macro='note'] p {
    font-weight: 300;
    text-align: justify;
    padding: 0;
    width: 90%;
}

@media (max-width: 900px) {
    [macro='note'] p {
        width: 95%;
    }
}

[macro='note'] > * {
    margin-bottom: 4px;
}

[macro='note']:not([boxed]) > h1:not(:first-child) {
    font-size: 1.6em;
}
[macro='note']:not([boxed]) > h2:not(:first-child) {
    font-size: 1.4em;
}
[macro='note']:not([boxed]) > h3:not(:first-child) {
    font-size: 1.2em;
}
[macro='note']:not([boxed]) > h4:not(:first-child) {
    font-size: 1em;
    color: #565656;
    border-color: #e6e6e6;
    padding-left: 6px;
}
[macro='note']:not([boxed]) > h5:not(:first-child) {
    font-size: 0.8em;
    color: #565656;
    border-color: #e6e6e6;
    padding-left: 8px;
}
[macro='note']:not([boxed]) > h6:not(:first-child) {
    font-size: 0.7em;
    color: #565656;
    border-color: #e6e6e6;
    padding-left: 10px;
}

[macro='note'][qa] {
    flex-direction: row;
    align-items: center;
    // overflow: hidden;
    padding: 0;
    overflow: unset;
}
[macro='note'][qa] > header {
    text-align: left;
    width: 200px;
    align-self: center;
    border-right: 1px solid #ccc;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px 0px #b605ff66;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: 0;
}
[macro='note'][qa] > header > h1 {
    font-size: 0.9em;
    text-align: right;
    align-self: center;
    padding: 0;
    padding-right: 8px;
    font-weight: 100;
    text-align: end;
}
[macro='note'][qa] > div[answer] h2 {
    color: #656363;
    font-size: 4em;
}
[macro='note'][qa] > div[answer] p {
    color: #656363;
    flex-direction: column;
    font-size: 14px;
}
[macro='note'][qa] > div[answer] p[credit] {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px;
    width: 100%;
    color: #757575;
    font-weight: 100;
    text-align: center;
}
[macro='note'][qa] > div[answer] p[credit] a {
    font-weight: 100;
    font-size: 0.9em;
}
[macro='note'][qa] > div[answer] p[credit][source] {
    display: flex;
    flex-direction: row;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}
[macro='note'][qa] > div[answer] p[credit][source] > span[source] {
    border-right: 1px solid #ccc;
    padding: 3px;
}
[macro='note'][qa] > div[answer] p[credit][source] > :last-child {
    padding: 3px;
}
[macro='note'][qa] > div[answer][column] {
    display: flex;
    flex-direction: revert;
}
[macro='note'][qa] > div[answer][column] > * {
    align-self: center;
}
[macro='note'][qa] > div[answer] {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
[macro='note'][qa] img[answer] {
    border-radius: 3px;
    justify-self: center;
    align-self: center;
}


/* ========================================================================= */
/* LATEX */
/* ========================================================================= */

[latex] {
    font-family: 'Roboto Slab', monospace;
    text-rendering: optimizeLegibility;
}

[latex='inline'] {
    max-width: fit-content;
    text-align: center;
    display: inline-flex;
    justify-self: center;
}

[latex='block'] {
    font-size: 0.8em;
    max-width: 100%;
    max-height: fit-content;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
}
[latex='block'] > mjx-container {
    margin: 0 !important;
}